/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************/
/* GENERALES */
/*************/

@font-face{
	font-family: 'worksans-regular';
	src: url(../../fonts/work-sans/WorkSans-Regular.ttf);
}

@font-face{
	font-family: 'worksans';
	src: url(../../fonts/work-sans/WorkSans-Bold.ttf);
}

@font-face{
	font-family: 'rubik';
	src: url(../../fonts/rubik/Rubik-Regular.ttf);
}

@font-face{
	font-family: 'rubik-light';
	src: url(../../fonts/rubik/Rubik-Light.ttf);
}

body {
	background-color: black;
	font-size: 62.5%;
	color: white;
}

.degrade {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 28.125%;
	background-image: linear-gradient(to right,rgba(222, 233, 252, 0.15), rgba(222, 233, 252, 0.10));
	z-index: -2;
}

a {
	text-decoration: none;
}

.hidden {
 	text-indent: -9999999px;
 	font-size: 0;
}

 .main-nav label {
 	display: none;
 }

 #toggle {
 	display: none;
 }

/*************/
/*   HEADER  */
/*************/
/*1920*/
/*1640px*/

header {
	width: 85.42%;
	margin: 0 auto;
	color: #fff;
}

header h1 {
	width: 12.42012195121951%;
}

header nav {
	flex: 1 1 0%;
	text-align: left;
	font-family: rubik;
	font-size: 1.6em;
	margin-left: 7.926829268292683%;
}

.wrap-nav {
	display: flex;
    align-items: center;
	padding-bottom: 40px;
	margin-bottom: 3.688%;
	/*position: fixed;
    width: 85.42%;*/ 
}

.logo {
	//margin-left: 0.78%;
	//margin-right: 6.77%;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: rgba(182, 188, 206, 0.70);
	border-bottom: 2px solid rgba(182, 188, 206, 0.70);
	padding-bottom: 10px;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;

}

.main-nav li+li {
	margin-left: 4.573170731707317%;
}

.main-nav li:first-child a{
	color: #fff;
	border-color: #fff;
}

.main-nav  a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
}

.cat {
	width: 63.85416666666667%;
    max-width: 1242px;
    min-width: 550px;
    max-height: 700px;
    min-height: 289.6666666666667px;
    background-size: cover;
    position: absolute;
    left: 28.125%;
    z-index: -3;
    border: 2px solid white;
    margin-top: 150px;
    padding-bottom: 12%;
}

.title {
	position: relative;
	margin-left: 7.7%;
	//margin-left: 6.1vw;
	//-moz-margin-left:7.2%;
	font-size: 150px;
	font-size: 7.8vw;
	font-family: worksans;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 70px;

}

.title:after {
	content: "";
	display: block;
	position: absolute;
	width: 16.05%;
	height: 4px;
	left: 0.7%;
	bottom: -10px;
	background: #fff;
}

header h2 { 
	position: relative;
	margin-left: 18.29268292682927%;
	font-family: rubik;
	font-size: 	30px;
	font-size: 1.56vw;	;
	text-transform: uppercase;			

}

header section h2:after {
	content: "";
	display: block;
	position: absolute;
	width: 25%;
	height: 4px;
	left: 0.2%;
	bottom: -20px;
	background: #fff;
	
}

section h2+p {
	font-family: rubik-light;
	font-size: 	20px;
	margin-left: 44.5%;	
	width: 50%;
	line-height: 24px;
}

header section {
	overflow: hidden;
	margin-bottom: 150px;
}



/*************/
/*    MAIN   */
/*************/

figure {
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: relative;
	border: 2px solid #fff;
}

.photos-chatons {
	width: 100%;
	height: auto;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.white {
	border: 2px solid #000;
}

.white-chatons {
	background-color: #F6F6F6;
	
}

.black {
	border: 2px solid #fff;
}

.chatons {
	margin-left: 24.4% ;
	padding-top: 50px;
	padding-bottom: 60px;
}

.name-cat {
	font-size: 40px;
	font-family: worksans;
	margin-left: 150px;
}

.main {
	background: #F6F6F6;
	padding-top: 60px;
    padding-bottom: 100px;
}

.main h2 {
	position: relative;
	color: #000;
	font-family: worksans-regular;
	font-size: 80px;
	text-transform: uppercase;
	margin-left: 7.7%;
	margin-bottom: 60px;
}


.main h2:after {
	//margin-top: 3px;
    width: 10%;
    position: absolute;
	content: "";
	display: block;
	background: #000;
	height: 2px;
}

.wrap-content {
	width: 85.42%;
	margin: 0 auto;
}

.wrap-form {
	display: flex;
	align-items: center;
}

.main form {
	flex: 1 1 0%;
	margin-left: 7.7%;
	width: 35.68575233022636%;
}

form input{
	height: 18px;
	padding-bottom: 15px;
	border: none;
	border-bottom: 2px solid #000 ;
	background: 0;
	width: calc(100% - 160px);
	margin-bottom: 60px;
	padding-left: 160px;
}

textarea {
	height: 270px;
	margin-top: 15px;
	box-sizing: border-box;
	background: 0;
	padding: 0px;
	width: 100%;
	border: none;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
}

form label {
	font-size: 18px;
	font-family: rubik;
	color: #9BA0AE;
	text-transform: uppercase;
	position: absolute;
}

.form-field-textarea:after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	left: 160px;
	bottom: 50%;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
}

.form-field-textarea label {
	font-size: 18px;
	font-family: rubik;
	color: #9BA0AE;
	text-transform: uppercase;
	position: relative;
}

.form-field-textarea {
	position: relative;
}

button {
	position: absolute;
	border: 2px solid #000;
	bottom: 1px;
	right: 0;
	font-family: worksans-regular;
	color: #9BA0AE;
	padding: 22px 60px;
	text-transform: uppercase;
	background: 0;
	font-size: 30px;

}

button:hover {
	color: #fff;
	background: #000;
	transition: 0.2s ease-in-out;
}


aside {
	flex: 1 1 0%;
}

aside dt, aside span {
	font-family: worksans-regular;
	color: #9BA0AE;
	font-size: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
	margin-top: 60px;
}

dl {
	width: 100%;
}

aside dd {
	color: #000;
	font-family: rubik;
	font-size: 18px;
	width: 400px;
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
    margin: 0 auto 15px auto;
}

aside dd a:hover {
	color: #9BA0AE;
}

.wrap-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

aside ul {
	display: flex;
}

aside li+li {
	margin-left: 60px;
}

aside li a img {
	background: #fff;
	color: #000;
}

aside a {
	color: #000;
}

.wrap-contact li{
	width: 50px;
	height: 50px;
}

svg:hover {
	fill: #9BA0AE;

}

.form-field-textarea {
	height: 304px;
}